<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @client.CPF %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @client.CNPJ %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @client.RG %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @client.adress %>
</p>

<p>
  <strong>Adrees number:</strong>
  <%= @client.adrees_number %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @client.neighborhood %>
</p>

<p>
  <strong>City:</strong>
  <%= @client.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @client.state %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @client.CEP %>
</p>

<p>
  <strong>Adress complement:</strong>
  <%= @client.adress_complement %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Marital status:</strong>
  <%= @client.marital_status %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @client.company_name %>
</p>

<p>
  <strong>Trading name:</strong>
  <%= @client.trading_name %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
